<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>今日直播</string>
		<key>image</key>
		<string>channel_icon_live_pre.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>编程开发</string>
		<key>image</key>
		<string>channel_icon_program_pre.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>设计制作</string>
		<key>image</key>
		<string>channel_icon_design_pre.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>外语学习</string>
		<key>image</key>
		<string>channel_icon_foreign_pre.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>职场办公</string>
		<key>image</key>
		<string>channel_icon_work_pre.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>投资理财</string>
		<key>image</key>
		<string>channel_icon_invest_pre.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>出国留学</string>
		<key>image</key>
		<string>channel_icon_abroad_pre.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>资格认证</string>
		<key>image</key>
		<string>channel_icon_certificate_pre.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>公务员</string>
		<key>image</key>
		<string>channel_icon_servant_pre.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>休闲娱乐</string>
		<key>image</key>
		<string>channel_icon_entertainment_pre.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>大学生</string>
		<key>image</key>
		<string>channel_icon_college_pre.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>中学生</string>
		<key>image</key>
		<string>channel_icon_school_pre.png</string>
	</dict>
</array>
</plist>
